favorites=firefox-esr.desktop,org.xfce.Catfish.desktop,lyx.desktop,code.desktop,org.gnome.meld.desktop,terminator.desktop,org.gnome.Calculator.desktop,xfce4-screenshooter.desktop,pavucontrol.desktop,org.gnome.clocks.desktop,gtimer.desktop,net.lutris.Lutris.desktop,openMSX-Catapult.desktop,net.lutris.emu-19.desktop
recent=terminator.desktop,firefox-esr.desktop,net.lutris.emu-19.desktop,pavucontrol.desktop,net.lutris.Lutris.desktop,xfce-session-settings.desktop,xfce-wm-settings.desktop,xfce4-settings-editor.desktop,org.kde.ktorrent.desktop,com.blackmagicdesign.resolve.desktop
button-title=Aplicações
button-icon=/home/danielc/.debian_ico.png
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=false
category-show-name=true
category-icon-size=1
load-hierarchy=false
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
stay-on-focus-out=false
confirm-session-command=true
menu-width=925
menu-height=1080
menu-opacity=90
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=false
command-logoutuser=xfce4-session-logout --logout --fast
show-command-logoutuser=false
command-restart=xfce4-session-logout --reboot --fast
show-command-restart=false
command-shutdown=xfce4-session-logout --halt --fast
show-command-shutdown=false
command-suspend=xfce4-session-logout --suspend
show-command-suspend=false
command-hibernate=xfce4-session-logout --hibernate
show-command-hibernate=false
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=5

[action0]
name=Páginas de manual
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Pesquisa web
pattern=?
command=exo-open --launch WebBrowser https://duckduckgo.com/?q=%u
regex=false

[action2]
name=Wikipédia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action3]
name=Executar no terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action4]
name=Abrir URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

