[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/danielc/Área de trabalho/navegadorpje.exe]
row=1
col=0

[/home/danielc/Área de trabalho/RPG-OnLine]
row=0
col=0

[/home/danielc/Área de trabalho/navegadorpje.zip]
row=2
col=0

